annotated-types
anyio
click
colorama
et-xmlfile
fastapi
gensim
h11
httptools
idna
joblib
numpy
openpyxl
pandas
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
PyYAML
scikit-learn
scipy
six
smart-open
sniffio
starlette
threadpoolctl
typing_extensions
tzdata
uvicorn
watchfiles
websockets
